/* 
    Document   : overriding
    Created on : Oct 31, 2011, 12:12:31 PM
    Author     : eros
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.ui-breadcrumb {
margin: 0;
padding: 0;
height: 21px;
overflow: hidden;
padding: 1px;
}